<?xml version="1.0" encoding="UTF-8"?>
<Context path="/ImageViewer" 
crossContext="true" debug="0" reloadable="true">
   <Parameter name="nomeCatalogo" value="file:////Volumes/HDDSORGENTI/Progetti/Java/Visualizzatore Immagini ver. 4.0/Visualizzatore Immagini ver. 4.0 Dynamic/configurazione/SanCarlo"/>
</Context>
